{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
<style type="text/css">
    #wholesalerForm label.error {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
      color:#e82d2d;
      width: 100%;
    }
    
  </style>

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Add Wholesaler</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <!-- right column -->
          <div class="col-md-8" style="margin: 0 auto;">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Wholesaler</h3>
              </div>
              <!-- /.card-header -->
              <form role="form" method="post" id="wholesalerForm" enctype="multipart/form-data">
               <div class="col-sm-6" style="display:none;">
                     <!-- text input -->
                     <div class="form-group">
                       <label for="user_type">User Type <span class="text-danger">*</span></label>
                       <select class="form-control" id="user_type" name="user_type">
                             <option  value="4" selected="selected">Wholesaler</option>
                       </select>
                     </div>
                   </div>
              <div class="card-body">
                  {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
                  <div class="row">
                    
                   
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Import File</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="user_photo" id="user_photo">
                          <label class="custom-file-label" for="user_photo">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div></div>
                    <div class="col-sm-6">
                      <div class="form-group" style="margin-left: 45%;">
                        <label for="customFile">Download Sample</label>
                        <div class="custom-file">
                         
                          <button type="button" onclick="myFunction()" id="download_sample" class="btn btn-primary">Download</button>
                     
                        </div>
                      </div>
                    </div>
                    
                  </div>

                  
                  </div>
                </div>

              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- /.card-body -->
            </div>
          </form>
            <!-- /.card -->
            
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <script>
function myFunction() {
  alert("hiii")
  $.ajax({
          'method':'POST',
          'url':'/download_sample/',
          'data': '',
          'cache':false,
          'contentType': false,
          'processData': false,
          success: function(response){
            
            if(response.status=='success')
            {
              toastr.success('User added successfully').delay(10000);
            }
            else
            {
              toastr.error(response.msg).delay(10000);
            }

          },
          error: function(xhr,status,errorThrown){
            alert(xhr.responseText)
          },
        });
}
</script>

{% endblock %}
