{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
<style type="text/css">
    #wholesalerForm label.error {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
      color:#e82d2d;
      width: 100%;
    }
    
  </style>

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Add Wholesaler</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <!-- right column -->
          <div class="col-md-8" style="margin: 0 auto;">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Wholesaler</h3>
              </div>
              <!-- /.card-header -->
              <form role="form" method="post" id="wholesalerForm" enctype="multipart/form-data">
               <div class="col-sm-6" style="display:none;">
                     <!-- text input -->
                     <div class="form-group">
                       <label for="user_type">User Type <span class="text-danger">*</span></label>
                       <select class="form-control" id="user_type" name="user_type">
                             <option  value="4" selected="selected">Wholesaler</option>
                       </select>
                     </div>
                   </div>
              <div class="card-body">
                  {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
                  <div class="row">
                    
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="user_type">Langauge</label>
                        <select class="form-control" id="language_id" name="language_id">
                          <option  value="" selected="selected">---select---</option>
                          {% for lang_data in lang_data %}
                           <option value="{{lang_data.id}}">{{lang_data.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>Name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email Id">
                      </div>
                    </div>
                    <div class="col-sm-6">
                     <div class="form-group">
                        <label>Phone <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="mobile_number" id="mobile_number" placeholder="Mobile Number">
                     </div>
                     </div>
                  </div>
                  <div class="row">
                    
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Aadhar No <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="aadhar_no" id="aadhar_no" placeholder="Aadhar No">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>State <span class="text-danger">*</span></label>
                        <select class="form-control" id="state" name="state">
                          <option  value="" selected="selected">---select---</option>
                          {% for state_data in state_data %}
                           <option value="{{state_data.id}}">{{state_data.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control typeahead" autocomplete="off" name="city" id="city" placeholder="City">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>District <span class="text-danger">*</span></label>
                        <select class="form-control" id="district" name="district">
                          <option  value="" selected="selected">---select---</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Pincode</label>
                        <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pincode">
                      </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Gst Number</label>
                        <input type="text" class="form-control" name="gst_number" id="gst_number" placeholder="Gst Number" value="{{data.gst_number}}">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Fertilizer Licence</label>
                        <input type="text" class="form-control" name="fertilizer_licence" id="fertilizer_licence" placeholder="Fertilizer Licence" value="{{data.fertilizer_licence}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="address" id="address" rows="3" placeholder="Address"></textarea>
                      </div>
                    </div>
                    
                    
                  </div>
                  <div class="row" id="show_retailer_wholersaler">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label>Fms Id</label>
                        <input type="text" class="form-control" name="fms_id" id="fms_id" placeholder="Fms Id" value="{{data.fms_id}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Photo</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="user_photo" id="user_photo">
                          <label class="custom-file-label" for="user_photo">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Aadhar Photo</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="aadhar_card" id="aadhar_card">
                          <label class="custom-file-label" for="aadhar_card">Choose file</label>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Pancard</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="pan_card" id="pan_card">
                          <label class="custom-file-label" for="pan_card">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Voter Id</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="vote_id" id="vote_id">
                          <label class="custom-file-label" for="vote_id">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row"  id="show_retailer_wholersaler">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Gst Photo</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="gst_photo" id="gst_photo">
                          <label class="custom-file-label" for="gst_photo">Choose file</label>
                        </div>
                        <div class="input-group-append">
                              <span><img src={{data.gst_photo}} width="50" height="50"></span>
                           </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Fertilizer Licence</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="fertilizer_photo" id="fertilizer_photo">
                          <label class="custom-file-label" for="fertilizer_photo">Choose file</label>
                        </div>
                         <div class="input-group-append">
                              <span><img src={{data.fertilizer_photo}} width="50" height="50"></span>
                           </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- /.card-body -->
            </div>
          </form>
            <!-- /.card -->
            
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
