{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<style type="text/css">
    #editwholeselerForm label.error {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
      color:#e82d2d;
      width: 100%;
    }
    
  </style>

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Edit Wholeseler</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <!-- right column -->
          <div class="col-md-8" style="margin: 0 auto;">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Wholeseler</h3>
              </div>
              <!-- /.card-header -->
              <form role="form" method="post" id="editwholeselerForm" enctype="multipart/form-data">
              <div class="card-body">
                  {% csrf_token %}
                  {# A more "HTML" way of creating the login form#}
                  <input type="hidden" name="user_id_pk" id="user_id_pk" value="{{data.user_id}}">
                  <input type="hidden" name="district_selct" id="district_selct" value="{{data.district.id}}">
                  <div class="col-sm-6" style="display:none;">
                        <!-- text input -->
                        <div class="form-group">
                          <label for="user_type">User Type <span class="text-danger">*</span></label>
                          <select class="form-control" id="user_type" name="user_type" disabled>
                            <option  value="">---select---</option>
                             {% for user_type in data.group_data %}
                             <option value="{{data.user_type.name}}" {% if data.user_type.name == data.user_type.name %} selected="true" {% endif %} >{{data.user_type.name}} </option>
                             {% endfor %}
                          </select>
                        </div>
                      </div>
                  <div class="row">
                   
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="user_type">Langauge</label>
                        <select class="form-control" id="language_id" name="language_id">
                          <option  value="" selected="selected">---select---</option>
                          {% for lang_data in data.lang_data %}
                        <option value="{{lang_data.id}}" {% if data.lang_data.name == data.lang_data.name %} selected="true" {% endif %} >{{lang_data.name}} </option>
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>Name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name ..." value="{{data.full_name}}">
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email Id" value="{{data.email}}">
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>Phone <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" name="mobile_number" disabled id="mobile_number" placeholder="Mobile Number" value="{{data.mobile_number}}">
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Aadhar No <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="aadhar_no" id="aadhar_no" placeholder="Aadhar No" value="{{data.aadhar_no}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>State <span class="text-danger">*</span></label>
                        <select class="form-control" id="state" name="state">
                          <option  value="">---select---</option>
                          {% for state_data in data.state_data %}
                           <option value="{{state_data.id}}" {% if state_data.id == data.state.id %} selected="selected" {% endif %} >{{state_data.name}} </option>
                           {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control typeahead" name="city" id="city" placeholder="City" value="{{data.city}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>District <span class="text-danger">*</span></label>
                        <select class="form-control" id="district" name="district">
                          <option  value="">---select---</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Pincode</label>
                        <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pincode" value="{{data.pincode}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="address" id="address" rows="3" placeholder="Address ...">{{data.address}}</textarea>
                      </div>
                    </div>
                    
                    
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Photo</label>
                        <div class="input-group">
                           <div class="custom-file">
                             <input type="file" class="custom-file-input" name="user_photo" id="user_photo">
                             <label class="custom-file-label" for="user_photo">Choose file</label>
                           </div>
                           <div class="input-group-append">
                              <span><img src="{{'/media/media/160/user.png'}}" width="50" height="50"></span>
                           </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Aadhar Photo</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="aadhar_card" id="aadhar_card">
                          <label class="custom-file-label" for="aadhar_card">Choose file</label>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                  
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Pancard</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="pan_card" id="pan_card">
                          <label class="custom-file-label" for="pan_card">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="customFile">Vote Id</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="vote_id" id="vote_id">
                          <label class="custom-file-label" for="vote_id">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>

                 

               
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
              <!-- /.card-body -->
            </div>
          </form>
            <!-- /.card -->
            
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}