{% extends "base.html" %}
{% block title %}Sales Report{% endblock %}
{% block body_block %}
{% load staticfiles %}

<style type="text/css">
  .dt-buttons{margin-bottom: 15px;}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Retailer Wise Sales Report</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Retailer Wise Sales Report</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      {% csrf_token %}
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <form>
                <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Select State</label>
                        <select class="form-control" id="state" name="state">
                          <option  value="" selected="selected">---select---</option>
                          {% for state_data in state_data %}
                           <option value="{{state_data.id}}">{{state_data.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Select District</label>
                        <select class="form-control" id="district" name="district">
                          <option  value="" selected="selected">---select---</option>
                        </select>
                      </div>
                    </div>


                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Select Retailer</label>
                        <select class="form-control" id="retailers" name="retailers">
                          <option  value="" selected="selected">---select---</option>
                          {% for retailer in retailers %}
                           <option value="{{retailer.id}}">{{retailer.full_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Select Product</label>
                        <select class="form-control" id="products" name="products">
                          <option  value="" selected="selected">---select---</option>
                          {% for product in products %}
                           <option value="{{product.id}}">{{product.product_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Date range</label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="far fa-calendar-alt"></i>
                            </span>
                          </div>
                          <input type="text" class="form-control float-right" name="searchDate" id="searchDate">
                        </div>
                        
                      </div>

                   
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>&nbsp;</label><br>
                        <button type="submit" class="btn btn-primary">Search</button>
                      </div>
                    </div>

                </div>
              </form>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table id="shTable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Sr No</th>
                    <th class="input-filter">Retailer Name</th>
                    <th class="select-filter">Retailer Phone</th>
                    <th class="input-filter">Farmer Name</th>
                    <th class="input-filter">Farmer Phone</th>
                    <th class="input-filter">Date</th>
                    <th class="input-filter">Amount</th>               
                                 
                  </tr>
                   
                  </thead>
                  <tfoot>
                      <tr>
                        <th>Sr No</th>
                        <th class="input-filter">Retailer Name</th>
                        <th class="select-filter">Retailer Phone</th>
                        <th class="input-filter">Farmer Name</th>
                        <th class="input-filter">Farmer Phone</th>
                        <th class="input-filter">Date</th>
                        <th class="input-filter">Amount</th>               
                          
                      </tr>
                  </tfoot>
                  
                </table>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  <!-- DataTables -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  
  <script type="text/javascript">
    {% autoescape off %}
      var result_data = {{ data}};
    {% endautoescape %}
  
      $(document).ready(function() {

  
  
        $('#shTable tfoot th.input-filter').each( function () {
          var title = $(this).eq( $(this).index() ).text();
          $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        });
     
      
        var shTable=jQuery('#shTable').DataTable({
          "aaData":result_data,
          "dom": 'Blfrtip',
          "buttons": [
              { "extend": 'pdf', "text":'Export PDF',"className": 'btn btn-sm btn-primary' },
              { "extend": 'excel', "text":'Export Excel',"className": 'btn btn-sm btn-primary' }
          ],
          
          initComplete: function () {
                  this.api().columns('.select-filter').every( function () {
                      var column = this;
                      var select = $('<select><option value=""></option></select>')
                              .appendTo( $(column.footer()).empty() )
                              .on( 'change', function () {
                                  var val = $.fn.dataTable.util.escapeRegex(
                                          $(this).val()
                                  );
   
                                  column
                                          .search( val ? '^'+val+'$' : '', true, false )
                                          .draw();
                              } );
   
                      column.data().unique().sort().each( function ( d, j ) {
                          select.append( '<option value="'+d+'">'+d+'</option>' )
                      } );
                  } );
                  this.api().columns('.input-filter').every( function () {
                      var that = this;
   
                      $( 'input', this.footer() ).on( 'keyup change clear', function () {
                          if ( that.search() !== this.value ) {
                              that
                                  .search( this.value )
                                  .draw();
                          }
                      } );
                  } );
              }
        });

    
  });
  
  </script>

{% endblock %}

